body{
    margin: 0;
    background-color: silver;
}

.container-lg{

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 0.5fr 1.5fr 1.9fr 0.5fr; 
    grid-template-areas: 
      "nav-bar nav-bar nav-bar nav-bar nav-bar"
      "main-pic main-pic main-pic main-pic main-pic"
      ".  shows shows shows ."
      "bottom bottom bottom bottom bottom"; 
  
}
.nav-bar{
    display: grid;
    grid-area: nav-bar; 
    background-color: darkgray;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: bottom;
}

.main-pic{
    display: flex;
    grid-area: main-pic;
    
   
}
.show-s{
    display: row;
    grid-area: shows;
    
}

.bottom-social{
    display: column;
    align-items: left;
}
.bottom{
    display: table-column;
    grid-area: bottom;
  
}
.showtime-info{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.bottom-show{
    display: column;
    grid-area: center;
}